header {
    height: 500px;
}

.header__text{
    /*En desktop es 300*/
    height: 300px;
}

.header__text > h1{
    font-size: 3.6rem;
}

.header__text>h2{
    font-size: 2rem;
}

.nav > a {
    font-size: 1.3rem;
}

.about__container{
    flex-direction: row;
    align-items: center;
}

.about__text h3{
    font-size: 2.5rem;
    text-align: center;
}

.about__text h3 span{
    width: 33px;
    height: 33px;
    padding: 0;
    text-align: center;
}

.about__text p{
    padding: 15px 15px 20px 15px;
    font-size: 1.4rem;
}


.about__picture{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.port__galeria{
    display: flex;
    justify-content: space-evenly;
}

.imagen__port{
    width: 24%;
}

.servicio__ind{
    width: 31%;
}

.servicio__ind:nth-child(1) ,.servicio__ind:nth-child(2){
    margin-bottom: none;
}

