:root {
    --font-tiitle: #642a73;
    --header-gradient: linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(317, 45%, 52%, 0.664)); 
    --background--port:#f2f2f2;
    --shadow: rgba(0, 0, 0, 0.5);
    --card-backgroud: #4d0686;
    --footer-backgroud: #414141;

}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%
}

body {
    font-family: 'Open sans';
}

/*Va en cada seccion para que se separa cada seccion de la otra que le sigue*/
.container {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.title {
    color: var(--font-tiitle);
    font-size: 3rem;
    text-align: center;
    margin-bottom: 60px;
}

/*Header*/

header {
    width: 100%;
    /*En desktop es 600px*/
    height: 300px;
    background: var(--header-gradient), url(/assets/img/portada.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /*Para que haga el efecto de bajar con el scroll */
    background-attachment: fixed;
    position: relative;
}

.nav{
    text-align: end;
    padding: 30px 20px 0 0;
}

.nav > a {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

.nav> a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.header__text{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*En desktop es 300*/
    height: 150px;
}

.header__text > h1{
    font-size: 2rem;
    color: #fff;
}

.header__text>h2{
    font-size: 1.5rem;
    font-weight: 300;
    color: #fff;
}
.wave{
    width: 100%;
    /*Lo posiciona hasta abajo del elemento padre en relative*/
    position: absolute;
    bottom: 0;
   
}

.about__container{
   display: flex;
   gap: 35px;
   text-align: center;
   flex-direction: column;
   justify-content: space-evenly; 
}

.about__picture{
    min-width: 200px;
    max-width: 350px;
    margin: 0 auto;
}

.about__img{
    width: 100%;
    display: block;
}

.about__text{
   margin-bottom: 15px; 
   max-width: 450px;
   margin: 0 auto;
}

.about__text h3 span{
    background-color: #4d0686;
    color: #FFF;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 6px;
    box-shadow: var(--shadow);
    margin-right: 5px;
}

.about__text p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

.portafolio{
    background: var(--background--port);
}

.port__galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.imagen__port{
    /*En desktop 24%*/
    width: 45%;
    margin-bottom: 10px;
    overflow: hidden;
    /*Para que la imagen azul pueda estar arriba*/
    position: relative;
    cursor: pointer;
    box-shadow: var(--shadow);
}

.imagen__port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/*Poner la animacion*/
.hover__galeria{
   position: absolute; 
   width: 100%;
   height: 100%;
   /*Para que suba hasta las imagen__port*/
   top: 0;
   transform: scale(0);
   background: hsla(273, 91%, 27%, 0.7);
   transition: transform .5s;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.hover__galeria img{
    width: 50px;
}

.hover__galeria p{
    color: #fff;
}

.imagen__port:hover .hover__galeria{
    transform: scale(1);
}

/*Client*/

.cards{
    display: flex;
    /*En desktop va en row, no en column.*/
    justify-content: space-evenly;
    gap: 15px;
    flex-wrap: wrap;
}

 .cards .card{
    background: var(--card-backgroud);
    display: flex;
    width: 90%;
    max-width: 300px;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: var(--shadow);
}


.cards .card img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card > .card__text{
    width: 60%;
    color: #fff;
}

.card__text p{
    font-weight: 300;
    padding-top: 5px;
    text-align: justify;
}

 .card__text h4{
    font-size: 1.6rem;
}

.services{
    background: #f2f2f2;
    padding-bottom: 30px;
}

.servicio__cont{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.servicio__ind{
    max-width: 320px;
    min-width: 200px;
    text-align: center;
}

.servicio__ind img{
    width: 90%;
}

.servicio__ind h3{
    margin: 10px 0;
}

.servicio__ind p{
    font-weight: 300;
    text-align: center;
}

footer{
    background-color: var(--footer-backgroud);
    padding: 60px 0 30px 0;
    overflow: hidden;
}

.container__footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: 0 auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content__foo{
    text-align: center;
}

.content__foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content__foo p{
    text-align: center;
    color: #fff;
}

.final__title{
    text-align: center;
    color: #fff;
    margin: 20px 0 0 0;
    color: #9e9797;
}